.page-header {
    background-color: #333333;
    margin-top: 0;
    padding: 20px 0px 34px 40px;
    margin-bottom: 10;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #8C8C8C;
    font-size: 36pt;
    text-decoration: none;
}
body {
    height: 100%;
    background: #F2F2F2;
}
