{% extends 'app/base.html' %}

{% block content %}
<style>
h2 {text-align:center;}
</style>
<h2>Site List</h2>
</div>

<style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: center;
        }
    </style>

    <table style="width:100%">
        <tr>
            <th>Site</th>
            <th>Tunnel Name</th>
            <th>Tunnel Type</th>
        </tr>
            {% for site in sites %}
        <tr>
            <td>{{ site.site }}</td>
            <td>{{ site.tunName }}</td>
            <td>{{ site.tunType}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
